html {
box-sizing: border-box;
}
*, *:before, *:after {
box-sizing: inherit;
}

body {
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
      padding: 0;
      background-image: url(../img/galaxy.jpg);
}

.wrapper {
      width: 80%;
      margin: 0 auto;
      padding: 1em;
      display: flex;
      flex-flow: row nowrap;
      background-color: #6BAFDF;
}

p, [for="abtype"] {
      margin-bottom: 0;
      margin-top: 2rem;
}

section {
      flex-basis: 57%;
      margin-right: 10%;
}

aside {
      flex-basis: 33%;
}
p {
    margin: 2rem 0 0 0;
}
 
fieldset {
    border: 2px solid green;
    border-radius: 15px;
}

legend {
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}
label {
    display: block;
    padding-bottom: 0.3rem;
}

textarea {
    height: 10rem;
    padding: 1rem;  
}
select {
    font-size: 1rem;
}
button {
    padding: 0.5rem 1rem;
    margin: 2rem 0;
    font-size: 1rem;
    background-color: green;
    color: black;
    border: none;
    border-radius: 10px;

}
button:hover {
    background-color: yellow;
    color: pink;
}
input:not([type="radio"]):not([type="checkbox"]), textarea, select {
    display: block;
    margin-bottom: 2rem;
    width: 20rem;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    padding: 0 1rem;
}