* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

@keyframes spin {       /*@keyframes - CSS at-rule controls the intermediate steps in a CSS animation, difining animation in code*/
  	from { /* start point for animantion - the same as indicate 0%, from may be ommited*/
        transform: rotateY(0deg); /* roation is like in 3D dimention -X, Y and Z axes*/
    }
    to { /* end point for animantion, the same as indicate 100%*/
        transform: rotateY(360deg);
    }
}

@keyframes psychadelic {

    100% {
      filter: hue-rotate(360deg);
    }
}

.mole {
    height: 334px;
    width: 334px;
    background-color: brown;
    border-radius: 50%;
}

.color {
    animation: psychadelic 3s linear infinite;
}

.spin { /* application of animatino in a code - .spin refers to the abovementioned, time, type of spin */
    animation: spin 3s ease-in-out infinite;
}