* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #5D6063;
    background-color: #EAEDF0;
    font-family: Helvetica, sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.speaker-form-header {
    text-align: center;

    background-color: #F6F7F8;
    border: 1px solid #D6D9Dc;
    border-radius: 3px;
    box-shadow: 7px 2px 8px #D1D2D3;

    margin: 40px 0;
    padding: 3rem;
}

.speaker-form-header h1 {
    margin-bottom: 30px;
    font-size: 3rem;
}

.speaker-form {
    background-color: #F6F7F8;
    border: 1px solid #D6D9Dc;
    border-radius: 3px;
    box-shadow: 7px 2px 8px #D1D2D3;

    width: 80%;
    padding: 50px;
    margin: 0 0 40px 0;
}

.form-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

    margin-bottom: 40px;
}

.form-row input[type="text"],
.form-row input[type="email"] {
    background-color: #fff;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 100%;
    padding: .5rem;
}

.form-row input[type="text"]:invalid,
.form-row input[type="email"]:invalid {
    border: 1px solid #D55C5F;
    color: #D55C5F;
    box-shadow: none;
}

.form-row label {
    margin-bottom: .8rem;
}

/* .legacy-form-row {
    display: flex;
    align-items: center;
    border: none;
    width: 75%;
    margin-left: auto;
}

.legacy-form-row legend,
.legacy-form-row input,
.legacy-form-row label {
    margin-right: 1rem;
}

.legacy-form-row legend {
    margin-bottom: 1rem;
} */

.legacy-form-row {
    border: none;
    margin-bottom: 2rem;
}


.legacy-form-row legend {
    margin-bottom: 1rem;
}

.legacy-form-row .radio-label {
    display: block;
    padding: 0 1rem 0 .5rem;
}

.legacy-form-row input[type='radio'] {
    margin-top: 2px;
}

.legacy-form-row .radio-label,
.legacy-form-row input[type='radio'] {
  float: left;
}


.form-row select {
    width: 100%;
    padding: 5px;
    font-size: 1rem;
    -webkit-appearance: none;            /* This won't work in Chrome or Safari */
}

.form-row textarea {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: .9rem;

    border: 1px solid #D6D9DC;
    border-radius: 3px;

    min-height: 200px;
    margin-bottom: 10px;
    padding: 7px;
    resize: none;
}

.form-row .instructions {
    color: #999999;
    font-size: .9rem;
    margin-bottom: 30px;
}

.form-row .checkbox-label {
    margin-bottom: 0;
}

.form-row button {
    font-size: 1rem;
    font-weight: bold;

    color: #FFF;
    background-color: #5995DA;

    border: none;
    border-radius: 3px;

    padding: 1rem 3rem;
    cursor: pointer;
}

.form-row button:hover {
    background-color: #76AEED;
    box-shadow: 1px 5px 10px #D6D9Dc;
}

.form-row button:active {
    background-color: #407FC7;
}


/* --- START MEDIA STYLES --- */

@media only screen and (min-width: 700px) {
    .speaker-form-header,
    .speaker-form {
      width: 600px;
    }

    .form-row {
        display: flex;
        flex-direction: row;
        align-items: flex-start; /* To avoid stretching */
        margin-bottom: 20px;
    }

    .form-row input[type='text'],
    .form-row input[type="email"],
    .form-row select,
    .form-row textarea {
        width: 250px;
        height: initial;
    }

    .form-row label {
        text-align: right;
        width: 120px;
        margin-top: 7px;
        padding-right: 20px;
    }

    .legacy-form-row {
        display: flex;
        flex-direction: row;
        /* width: 100%; */
    }
    .legacy-form-row legend {
        display: block;
    }


    .legacy-form-row {
        margin-bottom: 10px;
    }

    .legacy-form-row legend {
        width: 120px;
        text-align: right;
        padding-right: 20px;
    }

    .legacy-form-row legend {
        float: left;
    }

    .form-row .instructions {
        margin-left: 120px;
    }

    .form-row .checkbox-label {
        margin-left: 120px;
        width: auto;
    }

    .form-row button {
        margin-left: 120px;
    }
}

/* === END MEDIA STYLES === */

/* --- START CONCLUSION STYLES --- */

.conclusion-list li {
    padding: 1rem;
}

.list-item {
    display: flex;
    flex-direction: column;
}

/* === END CONCLUSION STYLES === */